.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.page {
    flex-direction: row;
}

.sidebar {
    width: 250px;
    max-width: 250px;
}

.content {
    overflow-y: auto;
    max-height: calc(100dvh - 25px);

    padding-top: 0;
    margin: 25px 0 25px 10px;
}

.content::-webkit-scrollbar {
    width: 16px;
}

.content::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ffffff;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #F07E26;
}

@media (max-width: 1000px) {
    .sidebar {
        width: 50px;
        max-width: 50px;
    }
}
