.nav-menu {
    position: fixed;

    left: 10px;

    width: 250px;
    height: 100%;

    border-radius: 8px 8px 0 0;
    background-color: #000000;

    margin-top: 25px;
}

.nav-item {
    font-size: 0.9rem;
}

.nav-item:first-of-type {
    padding-top: 48px;
}

.nav-item ::deep a {
    display: flex;
    align-items: center;
    height: 3rem;
    line-height: 3rem;
    border-left: 5px solid #000000;
}

.nav-item:not(.logout) ::deep a:hover {
    background-color: #333333;
    border-left: 5px solid #F07E26;
}

.nav-item ::deep a.active {
    background-color: #333333;
    border-left: 5px solid #F07E26;
}

.nav-item ::deep a.active .nav-link-text {
    color: #ffffff;
}

.nav-item .nav-link-text,
.nav-item .nav-link-icon i {
    color: #ffffff;
    font-size: 16px;
}

.nav-item .nav-link-icon,
.nav-item .nav-link .nav-link-text {
    margin-left: 15px;
}

.divider {
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .nav-menu {
        width: 50px;
    }
    
    .nav-item .nav-link-text {
        display: none;
    }

    .nav-item ::deep a {
        justify-content: center;
    }

    .nav-item .nav-link-icon {
        margin-left: 0;
    }
    
    .nav-item .nav-link-icon i {
        font-size: 1rem;
    }
}
