@page "/login"
@layout LoginLayout

<div class="login-page">
    <div class="login-form">
        <div class="form-group">
            <input @bind="Email" id="email" type="email" class="form-control" placeholder="Emailaddress"/>
        </div>
        <button type="button" class="btn btn-primary" @onclick="LoginUser">Login</button>
    </div>
</div>